body::-webkit-scrollbar,
html::-webkit-scrollbar {
    display: none;
}

#content::-webkit-scrollbar {
    height: 0;
    width: 0;
}

input {
    padding: 10px;
    background: transparent;

}

input[type="text"] {
    outline: 1px solid black;
    margin: 0 0 0 10px;
    border-radius: 10px;
}

button {
    outline: 1px solid black;
}